.root{
    -fx-background-color:black;
    -fx-background-size: 100.0% 100.0%;
}

.button {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 7.0 30.0 7.0 30.0;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 25.0px;
    -fx-text-fill: white;
}

.button Text {
	-fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.8) , 0.0, 0.0 , 0.0 , -1.0 );
}

.button:pressed {
	-fx-background-color: linear-gradient(deepskyblue 0.0%, royalblue 50.0%, #3661de 51.0%, royalblue 100.0%);
	-fx-font-size: 28.0pt;
	-fx-font-weight: bold;
	-fx-pref-width: 183.0
}

.button:hover {
	-fx-font-size: 28.0pt;
	-fx-font-weight: bold;
	-fx-pref-width: 350.0
}

#titlePane {
    -fx-background-image: url("/images/GameOver.png");
    -fx-background-size: 100.0% 100.0%;
}

#backMenuButton:pressed {
	-fx-font-size: 28.0pt;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(deepskyblue 0.0%, royalblue 50.0%, #3661de 51.0%, royalblue 100.0%);
    -fx-pref-width: 350.0
}

#backMenuButton:pressed:hover {
    -fx-font-size: 28.0pt;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(deepskyblue 0.0%, royalblue 50.0%, #3661de 51.0%, royalblue 100.0%)
}
